.order-total-heading{
    font-weight: 200;
    padding: 0;
    margin: 5px;
    font-size:18px;
}

.span-el{
    color:green;
    font-weight:400;
    margin: 0;
    padding: 0;
    font-size:22px;
}
.total-cart-items-section{
    margin: 0;
    padding: 0;
    font-family: "Roboto";
    font-weight:400;
    font-size:12px;
}
.proceed-to-payment-button{
    background-color:rgb(33, 131, 212);
    height:40px;
    width:60%;
    color:white;
    border: 0;
}

.cart-summary-container{
    padding:10px;
    text-align: center;
    box-shadow: 2px 2px 2px 2px rgb(189, 181, 181);
}